In [1]:
import pandas as pd
import numpy as np
import statistics as statistics

# Loading Training Dataset

In [2]:
df=pd.read_csv(r"C:\Users\kibe\Desktop\Projects\Sea Turtles\train.csv")

In [3]:
df.head()

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_1,...,Lost_Tags,T_Number,CCL_cm,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,CC00147,...,NaN,NaN,64.70,62.60,NaN,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,W442,...,NaN,NaN,35.85,31.35,NaN,Unknown,multiple b's on front flippers& a lot of alga...,Released,ReleaseSite_62,28/10/01
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,KE0376,...,NaN,NaN,51.80,49.20,NaN,Unknown,clean,Released,ReleaseSite_50,01/11/01
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,CC00302,...,NaN,NaN,60.50,59.00,NaN,Unknown,1 b 3 CS+ calcerous algae at rear end of shell...,Released,ReleaseSite_50,11/03/02
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,NotTagged_0113,...,NaN,NaN,34.70,33.00,NaN,Unknown,very lively+ right eye is hanging out + swolle...,Released,ReleaseSite_62,08/08/02

In [4]:
#seperating the columns we need
newer_df= df[['Rescue_ID','Date_TimeCaught','CaptureSite','ForagingGround']].copy()
newer_df.head()

      Rescue_ID Date_TimeCaught    CaptureSite ForagingGround
0  2000_RE_0060      2000-12-22  CaptureSite_0          Ocean
1  2001_RE_0187      2001-10-28  CaptureSite_0          Ocean
2  2001_RE_0197      2001-11-01  CaptureSite_0          Ocean
3  2002_RE_0031      2002-03-11  CaptureSite_0          Ocean
4  2002_RE_0118      2002-08-08  CaptureSite_0          Ocean

In [5]:
newer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rescue_ID        18062 non-null  object
 1   Date_TimeCaught  18062 non-null  object
 2   CaptureSite      18062 non-null  object
 3   ForagingGround   18062 non-null  object
dtypes: object(4)
memory usage: 564.6+ KB

In [6]:
newer_df.duplicated().sum()

0

In [7]:
newer_df.isnull().sum()

Rescue_ID          0
Date_TimeCaught    0
CaptureSite        0
ForagingGround     0
dtype: int64

<b>Seperating the datetimecaught column into year month and week<b>

In [8]:
#splitting the year from date_timecaught
newer_df['YearCaught'] = pd.DatetimeIndex(newer_df['Date_TimeCaught']).year
#splitting month
newer_df['MonthCaught'] = pd.DatetimeIndex(newer_df['Date_TimeCaught']).month
#splitting the week
newer_df['WeekCaught'] = pd.DatetimeIndex(newer_df['Date_TimeCaught']).week
newer_df.head()

C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\2178749480.py:6: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  newer_df['WeekCaught'] = pd.DatetimeIndex(newer_df['Date_TimeCaught']).week

,Rescue_ID,Date_TimeCaught,CaptureSite,ForagingGround,YearCaught,MonthCaught,WeekCaught
0,2000_RE_0060,2000-12-22,CaptureSite_0,Ocean,2000,12,51
1,2001_RE_0187,2001-10-28,CaptureSite_0,Ocean,2001,10,43
2,2001_RE_0197,2001-11-01,CaptureSite_0,Ocean,2001,11,44
3,2002_RE_0031,2002-03-11,CaptureSite_0,Ocean,2002,3,11
4,2002_RE_0118,2002-08-08,CaptureSite_0,Ocean,2002,8,32

In [9]:
newer_df.drop("Rescue_ID", axis=1, inplace=True)

newer_df.drop("ForagingGround", axis=1, inplace=True)
newer_df.drop("YearCaught", axis=1, inplace=True)
newer_df.drop("MonthCaught", axis=1, inplace=True)
newer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_TimeCaught  18062 non-null  object
 1   CaptureSite      18062 non-null  object
 2   WeekCaught       18062 non-null  int64
dtypes: int64(1), object(2)
memory usage: 423.5+ KB

In [11]:
all_train_day = newer_df[['Date_TimeCaught','CaptureSite']].sort_values(by='Date_TimeCaught').copy()
unique_train_day = all_train_day.drop_duplicates('Date_TimeCaught')

CaptureSite = list(newer_df.CaptureSite.unique())
## Find away to optimize this code
unique_train_day

for CapId in CaptureSite:
    unique_train_day[str(CapId)] = 0
    events = all_train_day[all_train_day['CaptureSite'] == CapId]
    dates = events['Date_TimeCaught'].unique()
    
    for date in dates:
        number_of_days = len(events[events.Date_TimeCaught == date ])
        unique_train_day.loc[unique_train_day['Date_TimeCaught'].isin([date]), CapId] = number_of_days

C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0

C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0
C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\901125286.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day[str(CapId)] = 0

In [14]:
unique_train_day.sample(5)

,Date_TimeCaught,CaptureSite,CaptureSite_0,CaptureSite_1,CaptureSite_10,CaptureSite_11,CaptureSite_12,CaptureSite_13,CaptureSite_14,CaptureSite_15,...,CaptureSite_26,CaptureSite_27,CaptureSite_28,CaptureSite_3,CaptureSite_4,CaptureSite_5,CaptureSite_6,CaptureSite_7,CaptureSite_8,CaptureSite_9
7504,2008-03-17,CaptureSite_21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13100,2018-03-21,CaptureSite_25,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,2
2205,2018-03-30,CaptureSite_12,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1844,2007-06-14,CaptureSite_12,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9951,2015-04-03,CaptureSite_23,0,1,0,0,1,4,0,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
unique_train_day.drop("CaptureSite", axis=1, inplace=True)

C:\Users\kibe\AppData\Local\Temp\ipykernel_11628\2074311666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_train_day.drop("CaptureSite", axis=1, inplace=True)

In [18]:
unique_train_day.head()

,Date_TimeCaught,CaptureSite_0,CaptureSite_1,CaptureSite_10,CaptureSite_11,CaptureSite_12,CaptureSite_13,CaptureSite_14,CaptureSite_15,CaptureSite_16,...,CaptureSite_26,CaptureSite_27,CaptureSite_28,CaptureSite_3,CaptureSite_4,CaptureSite_5,CaptureSite_6,CaptureSite_7,CaptureSite_8,CaptureSite_9
13323,1998-04-17,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1352,1998-07-07,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1353,1998-08-03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13324,1998-08-07,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1354,1998-09-25,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0